.about {
  padding-bottom: $space-2xl;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    width: 100%;

    @include mq(desktop) {
      gap: $space-xl;
    }
  }

  &__text {
    position: relative;
  }

  &__skills {
    &__title {
      margin-bottom: $space-md;
      font-size: $text-xl;
      font-weight: 500;

      @include mq(desktop) {
        font-size: 2.25rem;
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: $space-lg;

      @include mq(desktop) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: $space-xl;
      }
    }
    
  }


  &__experience { 
     &__title {
      margin-bottom: $space-md;
      font-size: $text-xl;
      font-weight: 500;    

      @include mq(desktop) {
        margin-bottom: $space-lg;
        font-size: 2.25rem;
      }
    }
    
  }


}