.nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $color-light;
    box-shadow: $shadow-md;
    transform: translateY(-120%) translateX(0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;

    @include mq(desktop) {
      position: static;
      width: auto;
      box-shadow: none;
      transform: none;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    /* Clase para mostrar el menú cuando se presiona el botón (JS) */
    &--visible {
      transform: translateY(0) translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    /* === LISTA DEL MENÚ === */
    &__list {
      display: flex;
      flex-direction: column;
      gap: $space-md;
      list-style: none;
      margin: 0;
      padding: $space-md;

      @include mq(desktop) {
        flex-direction: row;
        gap: $space-lg;
        padding: 0;
      }
    }

    /* === ENLACES === */
    &__link {
      position: relative;
      display: block;
      color: $color-text;
      text-decoration: none;
      font-size: $text-base;
      font-weight: 600;
      //transition: $transition-base;

      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: $color-primary;
        transform: translateX(-50%);
        transition: width $transition-base;
      }

      &:hover::after {
        width: 100%;
      }
      
      &:hover {
        color: $color-primary;
      }

    }


}