.projects {
  padding-bottom: $space-2xl;

  .section__subtitle {
    display: block;
    margin-bottom: $space-lg;
    color: $color-text;
    text-align: left;
    font-size: $text-lg;
    font-weight: 400;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    width: 100%;
    margin-top: $space-md;

    @include mq(tablet) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    @include mq(desktop) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: $space-xl;
      margin-top: $space-lg;
    }
  }
}