/* Layout general */
body {
  margin: 0;
  background-color: var(--color-light);
  color: var(--color-text);
  font-family: var(--font-primary);
  line-height: 1.6;
}

.container {
  max-width: var(--container-width);
  width: 90%;
  margin: 0 auto;
}


