@use 'sass:map';
@use 'variables' as *;

// Mixin de Media Query (Uso: @include mq(tablet) { ... })
@mixin mq($size, $direction: 'min', $max-size: false) {
    @if map.has-key($breakpoints, $size) {
        $breakpoint: map.get($breakpoints, $size);

        // 1. Manejar rangos (Ej. @include mq(tablet, 'min', lg))
        @if $max-size and map.has-key($breakpoints, $max-size) {
            $max-breakpoint: map.get($breakpoints, $max-size) - 1px;

            @media (min-width: $breakpoint) and (max-width: $max-breakpoint) {
                @content;
            }
        }

        // 2. Manejar min-width
        @else if $direction == 'min' {
            @media (min-width: $breakpoint) {
                @content;
            }
        }

        // 3. Manejar max-width
        @else if $direction == 'max' {
            @media (max-width: ($breakpoint - 1px)) {
                @content;
            }
        }
    } @else {
        @warn "Breakpoint '#{$size}' no existe...";
    }
}

// Mixin de Transición (Uso: @include set-transition;)
@mixin set-transition(
    $property: all,
    $duration: $transition-duration,
    $timing: $transition-timing
) {
    transition: $property $duration $timing;
}
