*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-main);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  transition: background-color $transition-base, color $transition-base, border-color $transition-base, box-shadow $transition-base;
}

section {
  scroll-margin-top: 58px;

  @include mq(desktop) {
    scroll-margin-top: 0;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  background-color: transparent; 
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

[hidden] {
  display: none !important;
}