.footer {
  padding: $space-md 0;
  background: $color-light;
  color: $color-text;
  text-align: center;

  p {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8;

    br {
      @include mq(tablet) {
        display: none;
      }
    }
  }
}