@import '../base/variables';

/* ==================================== */
/* === LAYOUT GENERAL === */
/* ==================================== */

body {
  margin: 0;
  background-color: $color-light;
  color: $color-text;
  font-family: $font-primary;
  line-height: 1.6;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}