@import '../base/variables';

.header {
  position: sticky;
  top: 0;
  display: flex;
  padding: $space-sm 0;
  background-color: $color-light;
  z-index: 10;

  @include mq(tablet) {
    height: 75px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}