.btn {
  display: inline-block;
  padding: 12px $space-md;
  background-color: $color-light;
  color: $color-text;
  border-radius: 40px; 
  font-size: $text-base;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: background-color $transition-base, transform 0.2s ease, box-shadow $transition-base;
  @include set-transition(background-color);   

  &:active {
    transform: scale(0.98);
  }

  &--primary {
    background-color: $color-primary;
    color: $color-light;

    &:hover {
        background-color: adjust-color($color-primary, $lightness: -10%);

        html.is-dark & {
          background-color: lighten($color-primary, 10%);
          box-shadow: 0 0 15px rgba($color-primary, 0.4);
        }
    }
  }

  &--secondary {
    background-color: var(--bg-alt);
    color: var(--text-main);

    &:hover {
        background-color: var(--border-color);
    }
  }

  &--large {
    @include mq(desktop) {
      padding: $space-md $space-lg;
      font-size: $text-lg;
    }
    
  }
}