.btn {
  display: inline-block;
  padding: 12px $space-md;
  background-color: $color-light;
  color: $color-text;
  border-radius: 40px; 
  font-family: $font-secondary;
  font-size: $text-base;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  @include set-transition(background-color);   

  &:hover {
    background-color: $color-accent;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-light;

    &:hover {
        background-color: darken($color-primary, 50%);
    }
  }

  &--secondary {
    background-color: darken($color-secondary, 5%);
    color: $color-dark;

    &:hover {
        background-color: darken($color-secondary, 15%);
        color: $color-dark;
    }
  }

  &--large {
    @include mq(desktop) {
      padding: $space-md $space-lg;
      font-size: $text-lg;
    }
    
  }
}