@use '../base/variables' as *;

.deco-dot {
    display: inline-block;
    color: $color-primary;
    font-size: $text-xl;
    line-height: 10px;
    transform: translateY(6px);

    &--large {
        font-size: $text-title;
        transform: translateY(10px);
    }
}
