.skills__group {
    &__title {
        margin-bottom: $space-md;
    }
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: $space-sm;
    list-style: none;

    @include mq(desktop) {
        gap: $space-md;
    }

    &__item {
        padding: $space-sm $space-md;
        border: 1px solid var(--text-muted);;
        border-radius: $space-xs;
        color: var(--text-muted);;
        font-size: $text-sm; 
        font-weight: 400;
    }
}


